= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs
    = f.simple_fields_for :avatar do |a|
      %div.row
        %div.thumbnail.span3{:style=>'text-align:center'}
          = image_tag current_user.avatar.photo.url :thumb
          %a.btn.show-browse сменить
          %div.change-photo{:style=>'display:none'}
            = a.input :photo, :as => :file, :label => 'Новая фотография для аватара'
        %div.span6
          = f.input :fio
          = f.input :about
        %div.span2
          = link_to 'Сменить пароль',  edit_user_registration_path
  .form-actions
    = f.button :submit, :class => 'btn-danger'
:coffeescript
  $('.show-browse').click ()-> $('.change-photo').toggle()
