%h2 Отправка инструкций
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  = f.input :email
  %div= f.submit "Переслать инструкции"
= render :partial => "devise/shared/links"
