%h2
  Сменить пароль
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  = f.input :password, :label => 'Новый пароль'
  = f.input :current_password, :label => 'Текущий пароль'


  %div= f.submit "Обновить"
:coffeescript
  $(document).ready ()->
    #$('#user_password').tooltip {trigger: 'focus', title: 'Оставьте пустым, если не хотите его менять'}
    $('#user_current_password').tooltip {trigger: 'focus', title: 'На всякий случай, а вдруг вы - это не вы )))'}
