%div.navbar
  %div.navbar-inner.navbar-fixed
    %div.container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        - 3.times do
          %span.icon-bar
      %ul.nav.pull-right.nav-collapse
        - if user_signed_in?
          %li= link_to 'Выход', main_app.destroy_user_session_path, :method => 'delete'
          - if current_user.admin?
            %li= link_to 'Админ', main_app.rails_admin_path
          %li= link_to current_user.email, "/profiles/#{current_user.profile.id}"
        - else
          -#%li= link_to 'Вход', '#', :class => 'for-members'
          %li= link_to( "Вход", main_app.new_user_session_path )
      %ul.top-menu
        %ul.nav
          %li
            %a.brand{:href => "http://nezabudem.net"} Nezabudem.NET
