%div.navbar
  %div.navbar-inner.navbar-fixed
    %div.container{style: 'margin-top: 2px'}
      - if not current_user.blank? and current_user.unread_messages? and controller.class != MessagesController
        %ul.nav.pull-right
          %li= link_to '<i class="icon-white icon-envelope blink"></i>&nbsp;Новое сообщение'.html_safe, messages_path

      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        - 3.times do
          %span.icon-bar
      %ul.nav.pull-right.nav-collapse
        - if user_signed_in?
          %li= link_to 'Выход', destroy_user_session_path, :method => 'delete'
          - if current_user.admin?
            %li= link_to 'Админ', rails_admin_path
          %li= link_to current_user.email, current_user.profile
        - else
          %li= link_to( "Вход", new_user_session_path )
        %li{style:'margin-top: 4px;'}
          :plain 
            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?uid=41001138826041&amp;button-text=06&amp;button-size=s&amp;button-color=black&amp;targets=%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82+%D0%9D%D0%B5%D0%B7%D0%B0%D0%B1%D1%83%D0%B4%D0%B5%D0%BC.%D0%9D%D0%95%D0%A2&amp;default-sum=100" width="auto" height="31"></iframe>

      -# .pull-left.nav-pills

      %ul.top-menu
        %ul.nav
          %li
            %a.brand{:href => "/"} Nezabudem.NET
          %li= link_to 'Обелиски', obelisks_path
          %li= link_to 'Участвуй в проекте!', help_path
          %li= link_to 'Форум', forem.root_path
      -#%span.label.label-important{:style=>'padding: 16px;'}= "На сайте ведутся технические работы."
