= f.input :address, :input_html => {:value => @place.full_address, :class => 'geocoded'}
= f.input :name
= f.input :description
= f.input :lat
= f.input :lng
= f.input :kind, :as => :hidden
= f.input :zoom, :as => :hidden
= f.input :status, :as => :hidden  
