!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= yield :title
    :coffeescript
      window.current_user = #{(current_user.blank? ? 0 : current_user.id)}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    -# if user_signed_in? and current_user.admin?
      %script{:src =>'/javascripts/ckeditor/ckeditor.js', :type=>"text/javascript"}
 
    = csrf_meta_tags
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
    = stylesheet_link_tag 'application', :media => 'all'
    = yield :header
    -# %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
      %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
      %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
      %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    = render :partial => 'top_menu'
    %div.container

      = render :partial => 'flashes'
      .content
        .row
          %div.span12
            %form.form-search{:action => '/search', :method => :get}
              %input.input-large.search-query{:type => 'text', :name => 'q', :value => params[:q]}
              %button.btn{:type=>'submit'} Поиск по ФИО
        
          .span12
            .bordered
              .inner
                = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder if request.path != '/'
                = yield
          -#.span2
            123

    
    = yield :after_footer
    = javascript_include_tag "application"

    - if current_user.nil?
      = render :partial => 'unregistered' 
    - else
      = render :partial => 'registered' 

    = sape_links if current_user.nil?
    -#= @sape.inspect if current_user.nil?
    = render :partial => 'counters' if Rails.env.production?
